#Options +FollowSymlinks
# Activar RewriteEngine
RewriteEngine on

#PARA UTILIZAR CACHE 
SetOutputFilter DEFLATE
Header unset ETag
FileETag None
<FilesMatch "\.(js|css|ico|pdf|jpg|jpeg|png|gif)$">
Header set Cache-Control "public"
Header set Expires "Thu, 15 Apr 2020 20:00:00 GMT"
Header unset Last-Modified
</FilesMatch>
#FIN PARA UTILIZAR CACHE

#Metidas por Pedro
DefaultLanguage es_ES
AddDefaultCharset utf-8

#previene los directorios que ya existan
RewriteCond %{SCRIPT_FILENAME} !-d
#ignora ficheros que ya existan
RewriteCond %{SCRIPT_FILENAME} !-f
#Fin Metidas por Pedro

# Reescribir la URL solicitada por el usuario
#   Entrada:  clientes/NOMBRE/
#   Salida: clientes.php?id=NOMBRE



RewriteRule ^grabaprueba1/?$ grabaprueba1.php
RewriteRule ^Prueba/?$ pruebas.php
  